<template>
  <v-container>
    <v-container>
      <v-row
        ><v-col md="4"
          ><v-text-field
            v-model="searchString"
            placeholder="Movie Title"
          ></v-text-field></v-col
        ><v-col md="4"
          ><v-text-field
            v-model="year"
            type="number"
            placeholder="Year"
          ></v-text-field
        ></v-col>
        <v-col md="4"
          ><v-btn class="mr-4" @click="Search"> Search </v-btn></v-col
        >
      </v-row> </v-container
    ><v-container>
      <em v-if="movies.loading">Loading movies...</em>
      <span v-if="movies.error" class="text-danger"
        >ERROR: {{ movies.error }}</span
      ></v-container
    >
    <v-container v-if="movies.items">
      <v-card
        :loading="loading"
        class="mx-auto my-12"
        max-width="374"
        v-for="movie in movies.items"
        :key="movie.imdbID"
      >
        <v-img height="250" :src="movie.Poster"></v-img>

        <v-card-title>{{ movie.Title }}</v-card-title>

        <v-card-text>
          <div class="my-4 subtitle-1">{{ movie.Type }}</div>
          <div class="my-4 subtitle-1">{{ movie.Year }}</div>
        </v-card-text>

        <v-card-actions>
          <v-btn @click="details(movie.imdbID)"> Details </v-btn>
        </v-card-actions>
      </v-card>
      <v-dialog />
    </v-container>
    <v-container>
      <v-row
        ><v-col md="6"><v-btn to="/favourite">Favourite List </v-btn></v-col>
        <v-col md="6"><v-btn to="/login">Logout </v-btn></v-col>
      </v-row>
    </v-container>
  </v-container>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  data: () => ({
    loading: false,
    searchString: "",
    year: "",
  }),
  computed: {
    ...mapState({
      account: (state) => state.account,
      movies: (state) => state.movies.all,
      movie: (state) => state.movies.single,
      favourite: (state) => state.favourite.add,
    }),
  },
  created() {
    this.getAllMovies({ searchString: "Bangladesh", year: this.year });
  },
  watch: {
    favourite: function () {
      if (this.favourite.error) {
        alert(this.favourite.error);
      } 
    },
    movie: function () {
      if (this.movie.item) {
        this.$modal.show("dialog", {
          title: this.movie.item.Title,
          text: this.movie.item.Plot,
          buttons: [
            {
              title: "Cancel",
              handler: () => {
                this.$modal.hide("dialog");
              },
            },
            {
              title: "Favourite",
              handler: () => {
                let Title = this.movie.item.Title;
                let Year = this.movie.item.Year;
                let imdbID = this.movie.item.imdbID;
                let Type = this.movie.item.Type;
                console.log(Type);
                this.addFavouriteMovie({ Title, Year, imdbID, Type });
              },
            },
          ],
        });
      }
    },
  },
  methods: {
    ...mapActions("movies", {
      getAllMovies: "getAll",
      getSingleMovie: "getSingle",
    }),
    ...mapActions("favourite", {
      addFavouriteMovie: "addFavourite",
    }),
    details(imdbID) {
      this.getSingleMovie({ imdbID });
    },
    Search() {
      this.getAllMovies({ searchString: this.searchString, year: this.year });
    },
  },
};
</script>