<template>
  <div>
    <h2>Login</h2>
    <v-container>
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-text-field
          v-model="email"
          :rules="emailRules"
          label="E-mail"
          required
        ></v-text-field>
        <v-text-field
          type="password"
          label="Password"
          v-model="password"
          :rules="passRules"
        ></v-text-field>

        <v-btn
          :disabled="!valid || status.loggingIn"
          class="mr-4"
          @click="validate"
        >
          Login
        </v-btn>
        <v-btn  class="mr-4" to="/register"> Register </v-btn>
      </v-form>
    </v-container>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  data() {
    return {
      valid: true,
      email: "",
      password: "",
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
      ],
      passRules: [(v) => !!v || "Password is required"],
    };
  },
  computed: {
    ...mapState("account", ["status"]),
  },
  created() {
    // reset login status
    this.logout();
  },
  methods: {
    ...mapActions("account", ["login", "logout"]),
    handleSubmit() {
      const { email, password } = this;
      if (email && password) {
        this.login({ email, password });
      }
    },
    validate() {
      this.$refs.form.validate();
      if (this.valid) {
        this.handleSubmit();
      }
    },
  },
};
</script>