<template>
  <div>
    <h2>Register</h2>
    <v-container>
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-text-field
          v-model="user.username"
          :rules="usernameRules"
          label="Username"
          required
        ></v-text-field>
        <v-text-field
          v-model="user.email"
          :rules="emailRules"
          label="E-mail"
          required
        ></v-text-field>
        <v-text-field
          type="password"
          label="Password"
          v-model="user.password"
          :rules="passRules"
        ></v-text-field>

        <v-btn
          :disabled="!valid || status.registering"
          class="mr-4"
          @click="validate"
        >
          Register
        </v-btn>
        <v-btn class="mr-4" to="/login"> Login </v-btn>
      </v-form>
    </v-container>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  data() {
    return {
      valid: true,
      user: {
        username: "",
        email: "",
        password: "",
      },
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
      ],
      passRules: [(v) => !!v || "Password is required"],
      usernameRules: [(v) => !!v || "Username is required"],
    };
  },
  computed: {
    ...mapState("account", ["status"]),
  },
  methods: {
    ...mapActions("account", ["register"]),
    handleSubmit() {
      this.register(this.user);
    },
    validate() {
      this.$refs.form.validate();
      if (this.valid) {
        this.handleSubmit();
      }
    },
  },
};
</script>