<template>
  <v-container>
    <v-container>
      <em v-if="favourite.loading">Loading favourite movies...</em>
      <span v-if="favourite.error" class="text-danger"
        >ERROR: {{ favourite.error }}</span
      ></v-container
    >
    <v-container v-if="favourite.items">
      <v-card
        :loading="loading"
        class="mx-auto my-12"
        max-width="374"
        v-for="movie in favourite.items"
        :key="movie.fields.imdbID"
      >
        <v-card-title>{{ movie.fields.Title }}</v-card-title>

        <v-card-text>
          <div class="my-4 subtitle-1">{{ movie.fields.Type }}</div>
          <div class="my-4 subtitle-1">{{ movie.fields.Year }}</div>
        </v-card-text>

        <v-card-actions>
          <v-btn @click="details(movie.fields.imdbID)"> Details </v-btn>
        </v-card-actions>
      </v-card>
      <v-dialog
    /></v-container>
    <v-container>
      <v-row
        ><v-col md="6"><v-btn to="/">Home Page </v-btn></v-col>
        <v-col md="6"><v-btn to="/login">Logout </v-btn></v-col>
      </v-row>
    </v-container>
  </v-container>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  data: () => ({
    loading: false,
    favouriteMovieList: [],
  }),
  computed: {
    ...mapState({
      movie: (state) => state.movies.single,
      favourite: (state) => state.favourite.get,
    }),
  },
  created() {
    this.getFavouriteMovies();
  },
  watch: {
    movie: function () {
      if (this.movie.item) {
        this.$modal.show("dialog", {
          title: this.movie.item.Title,
          text: this.movie.item.Plot,
          buttons: [
            {
              title: "Cancel",
              handler: () => {
                this.$modal.hide("dialog");
              },
            },
          ],
        });
      }
    },
  },
  methods: {
    ...mapActions("movies", {
      getSingleMovie: "getSingle",
    }),
    ...mapActions("favourite", {
      getFavouriteMovies: "getFavourite",
    }),
    details(imdbID) {
      this.getSingleMovie({ imdbID });
    },
  },
};
</script>